src/main/resources/wsdl/GetCustomerInformation/GetCustomerInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<xsd:include
		schemaLocation="GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="oab:GetCustomerInformation" />
				<xsd:element ref="oab:CustomerInformation" />
			</xsd:choice>
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GetCustomerInformation">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:customer" />				
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CustomerInformation">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:customerClass"/>
				<xsd:element minOccurs="1" ref="oab:name"/>
				<xsd:element minOccurs="1" ref="oab:arabicName"/>
				<xsd:element ref="oab:shortName"/>
				<xsd:element minOccurs="0" ref="oab:arabicShortName"/>
				<xsd:element minOccurs="0" ref="oab:branch"/>
				<xsd:element ref="oab:customerType"/>
				<xsd:element ref="oab:customerCategory"/>
				<xsd:element ref="oab:closed"/>
				<xsd:element ref="oab:deceasedOrLiquidation"/>
				<xsd:element ref="oab:inactive"/>
				<xsd:element minOccurs="0" ref="oab:language"/>
				<xsd:element minOccurs="0" ref="oab:parentCountry"/>
				<xsd:element minOccurs="0" ref="oab:riskCountry"/>
				<xsd:element minOccurs="0" ref="oab:residenceCountry"/>
				<xsd:element minOccurs="0" ref="oab:internalRiskCountry"/>
				<xsd:element minOccurs="0" ref="oab:customerOpenDate"/>
				<xsd:element minOccurs="0" ref="oab:customerCloseDate"/>
				<xsd:element minOccurs="0" ref="oab:lastUpdateDate"/>
				<xsd:element minOccurs="0" ref="oab:group"/>
				<xsd:element minOccurs="0" ref="oab:otherDetails"/>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>