src/main/resources/wsdl/ESBInterface/BankSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.oab.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oab.com">
  <xsd:include schemaLocation="GlobalSchema.xsd"/>
  <xsd:element name="exchangeRate">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:currency"/>
        <xsd:element ref="tns:buyRate"/>
        <xsd:element ref="tns:sellRate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetCurrencyExchangeRate">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/GetCurrencyExchangeRate;XSDElementDeclaration=1$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element minOccurs="0" ref="tns:currency"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CurrencyExchangeRate">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/CurrencyExchangeRate;XSDElementDeclaration=2$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:exchangeRate"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="Bank">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRGlobalGroup composition="message"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="tns:GetCurrencyExchangeRate"/>
      <xsd:element ref="tns:CurrencyExchangeRate"/>
      <xsd:element ref="tns:SendShortMessage"/>
      <xsd:element ref="tns:ShortMessage"/>
      <xsd:element ref="tns:BankingSystemState"/>
      <xsd:element ref="tns:GetBankingSystemState"/>
      <xsd:element ref="tns:ValidIBAN"/>
      <xsd:element ref="tns:ValidateIBAN"/>
      <xsd:element ref="tns:LogServiceRequest"/>
      <xsd:element ref="tns:ServiceRequest"/>
      <xsd:element ref="tns:ExchangeKeys"/>
      <xsd:element ref="tns:Keys"/>
      <xsd:element ref="tns:GetRewardPoints"/>
      <xsd:element ref="tns:RewardPoints"/>
      <xsd:element ref="tns:GetUserProfile"/>
      <xsd:element ref="tns:UserProfile"/>
      <xsd:element ref="tns:ListCautionaryRecords"/>
      <xsd:element ref="tns:CautionaryRecords"/>
      <xsd:element ref="tns:GetFavoriteData"/>
      <xsd:element ref="tns:FavoriteData"/>
      <xsd:element ref="tns:UpdateFavoriteData"/>
      <xsd:element ref="tns:PointsRedeemed"/>
      <xsd:element ref="tns:RedeemPoints"/>
      <xsd:element ref="tns:ReverseRedeemedPoints"/>
    </xsd:choice>
  </xsd:group>
  <xsd:element name="SendShortMessage">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/SendShortMessage;XSDElementDeclaration=3$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:choice>
          <xsd:sequence>
            <xsd:element minOccurs="1" ref="tns:phoneNumber"/>
            <xsd:choice minOccurs="0">
              <xsd:element ref="tns:customer"/>
              <xsd:element ref="tns:account"/>
            </xsd:choice>
          </xsd:sequence>
          <xsd:element ref="tns:customer"/>
          <xsd:element ref="tns:account"/>
        </xsd:choice>
        <xsd:choice>
          <xsd:element ref="tns:freeText"/>
          <xsd:sequence>
            <xsd:element ref="tns:messageId"/>
            <xsd:element minOccurs="0" ref="tns:parameters"/>
          </xsd:sequence>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ShortMessage">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ShortMessage;XSDElementDeclaration=4$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:status"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetBankingSystemState">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/GetBankingSystemState;XSDElementDeclaration=5$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1"/>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BankingSystemState">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/BankingSystemState;XSDElementDeclaration=6$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:state"/>
        <xsd:element ref="tns:date"/>
        <xsd:element ref="tns:nextBusinessDate"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ValidateIBAN">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ValidateIBAN;XSDElementDeclaration=7$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:iban"/>
        <xsd:element minOccurs="0" ref="tns:swift"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ValidIBAN">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ValidIBAN;XSDElementDeclaration=8$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element minOccurs="0" ref="tns:swift"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="LogServiceRequest">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/LogServiceRequest;XSDElementDeclaration=9$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:serviceId"/>
        <xsd:element maxOccurs="unbounded" ref="tns:field"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ServiceRequest">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ServiceRequest;XSDElementDeclaration=10$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element minOccurs="0" ref="tns:reference"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ExchangeKeys">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ExchangeKeys;XSDElementDeclaration=11$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:userData"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Keys">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/Keys;XSDElementDeclaration=12$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:keyInfo"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetRewardPoints">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/GetRewardPoints;XSDElementDeclaration=13$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:membershipId"/>
        <xsd:element minOccurs="1" ref="tns:loyaltyProgram"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RewardPoints">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/RewardPoints;XSDElementDeclaration=14$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:pointBalance"/>
        <xsd:element ref="tns:earnedPoints"/>
        <xsd:element ref="tns:redeemedPoints"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetUserProfile">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/GetUserProfile;XSDElementDeclaration=15$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:user"/>
        <xsd:element minOccurs="0" ref="tns:lineOfBusiness"/>
        <xsd:element minOccurs="0" ref="tns:option"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UserProfile">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/UserProfile;XSDElementDeclaration=16$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:name"/>
        <xsd:element ref="tns:language"/>
        <xsd:element ref="tns:branch"/>
        <xsd:element minOccurs="0" ref="tns:contacts"/>
        <xsd:element minOccurs="0" ref="tns:class"/>
        <xsd:element minOccurs="0" ref="tns:department"/>
        <xsd:element minOccurs="0" ref="tns:hiringDate"/>
        <xsd:element minOccurs="0" ref="tns:manager"/>
        <xsd:element minOccurs="0" ref="tns:userRights"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListCautionaryRecords">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ListCautionaryRecords;XSDElementDeclaration=17$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:retrievalKey"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CautionaryRecords">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/CautionaryRecords;XSDElementDeclaration=18$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:cautionarySummary"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cautionarySummary">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:creationDate"/>
        <xsd:element ref="tns:retrievalKey"/>
        <xsd:element ref="tns:name"/>
        <xsd:element minOccurs="0" ref="tns:otherDetails"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:type"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FavoriteData">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/FavoriteData;XSDElementDeclaration=20$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:lineOfBusiness"/>
        <xsd:element ref="tns:keyInfo"/>
        <xsd:element maxOccurs="unbounded" minOccurs="1" ref="tns:data"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFavoriteData">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/GetFavoriteData;XSDElementDeclaration=21$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:lineOfBusiness"/>
        <xsd:element ref="tns:keyInfo"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateFavoriteData">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/UpdateFavoriteData;XSDElementDeclaration=22$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:lineOfBusiness"/>
        <xsd:element ref="tns:keyInfo"/>
        <xsd:element maxOccurs="unbounded" ref="tns:data"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RedeemPoints">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/RedeemPoints;XSDElementDeclaration=23$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element minOccurs="0" ref="tns:externalReference"/>
        <xsd:element ref="tns:membershipId"/>
        <xsd:element ref="tns:loyaltyProgram"/>
        <xsd:choice>
          <xsd:element ref="tns:points"/>
          <xsd:sequence>
            <xsd:element ref="tns:amount"/>
            <xsd:element ref="tns:currency"/>
          </xsd:sequence>
        </xsd:choice>
        <xsd:element ref="tns:merchant"/>
        <xsd:element minOccurs="0" ref="tns:userReference"/>
        <xsd:element minOccurs="0" ref="tns:narratives"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PointsRedeemed">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/PointsRedeemed;XSDElementDeclaration=24$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:reference"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReverseRedeemedPoints">
    <xsd:annotation>
      <xsd:appinfo source="WMQI_APPINFO">
        <MRMessage messageDefinition="/0/ReverseRedeemedPoints;XSDElementDeclaration=25$MRObject"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:reference"/>
        <xsd:element ref="tns:membershipId"/>
        <xsd:element ref="tns:loyaltyProgram"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>