src/main/resources/wsdl/ESBInterface/GlobalSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.oab.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oab.com">
  <xsd:attribute name="optionIdentifier">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:element name="transactionDate" type="xsd:date">
    <xsd:annotation>
      <xsd:documentation source="WMQI_DOCUMENTATION">Date\sof\sthe\srequest</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="transactionReference">
    <xsd:simpleType>
      <xsd:annotation>
        <xsd:documentation source="WMQI_DOCUMENTATION">Partner\sunique\sreference\snumber.\s\r\nDepends\son\sthe\sdefined\sconfiguration\son\sthe\sESB\slevel\sfor\sthat\sPartner,\sbroker\swill\suse\sthis\sreference\sto\scheck\sfor\sduplicate\stransmission</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="48"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="branch" type="tns:Branch"/>
  <xsd:element name="language">
    <xsd:annotation>
      <xsd:documentation source="WMQI_DOCUMENTATION">AR:\sArabic\r\nEN:\sEnglish\s(default)</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:annotation>
        <xsd:documentation source="WMQI_DOCUMENTATION">AR:\sArabic\r\nEN:\sEnglish\s(default)</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
        <xsd:enumeration value="AR"/>
        <xsd:enumeration value="EN"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:simpleType name="Flag">
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="AbstractNationality">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
      <xsd:enumeration value="ABW"/>
      <xsd:enumeration value="AFG"/>
      <xsd:enumeration value="AGO"/>
      <xsd:enumeration value="AIA"/>
      <xsd:enumeration value="ALA"/>
      <xsd:enumeration value="ALB"/>
      <xsd:enumeration value="AND"/>
      <xsd:enumeration value="ANT"/>
      <xsd:enumeration value="ARE"/>
      <xsd:enumeration value="ARG"/>
      <xsd:enumeration value="ARM"/>
      <xsd:enumeration value="ASM"/>
      <xsd:enumeration value="ATA"/>
      <xsd:enumeration value="ATF"/>
      <xsd:enumeration value="ATG"/>
      <xsd:enumeration value="AUS"/>
      <xsd:enumeration value="AUT"/>
      <xsd:enumeration value="AZE"/>
      <xsd:enumeration value="BDI"/>
      <xsd:enumeration value="BEL"/>
      <xsd:enumeration value="BEN"/>
      <xsd:enumeration value="BFA"/>
      <xsd:enumeration value="BGD"/>
      <xsd:enumeration value="BGR"/>
      <xsd:enumeration value="BHR"/>
      <xsd:enumeration value="BHS"/>
      <xsd:enumeration value="BIH"/>
      <xsd:enumeration value="BLM"/>
      <xsd:enumeration value="BLR"/>
      <xsd:enumeration value="BLZ"/>
      <xsd:enumeration value="BMU"/>
      <xsd:enumeration value="BOL"/>
      <xsd:enumeration value="BRA"/>
      <xsd:enumeration value="BRB"/>
      <xsd:enumeration value="BRN"/>
      <xsd:enumeration value="BTN"/>
      <xsd:enumeration value="BVT"/>
      <xsd:enumeration value="BWA"/>
      <xsd:enumeration value="CAF"/>
      <xsd:enumeration value="CAN"/>
      <xsd:enumeration value="CCK"/>
      <xsd:enumeration value="CHE"/>
      <xsd:enumeration value="CHL"/>
      <xsd:enumeration value="CHN"/>
      <xsd:enumeration value="CIV"/>
      <xsd:enumeration value="CMR"/>
      <xsd:enumeration value="COD"/>
      <xsd:enumeration value="COG"/>
      <xsd:enumeration value="COK"/>
      <xsd:enumeration value="COL"/>
      <xsd:enumeration value="COM"/>
      <xsd:enumeration value="CPV"/>
      <xsd:enumeration value="CRI"/>
      <xsd:enumeration value="CUB"/>
      <xsd:enumeration value="CXR"/>
      <xsd:enumeration value="CYM"/>
      <xsd:enumeration value="CYP"/>
      <xsd:enumeration value="CZE"/>
      <xsd:enumeration value="DEU"/>
      <xsd:enumeration value="DJI"/>
      <xsd:enumeration value="DMA"/>
      <xsd:enumeration value="DNK"/>
      <xsd:enumeration value="DOM"/>
      <xsd:enumeration value="DZA"/>
      <xsd:enumeration value="ECU"/>
      <xsd:enumeration value="EGY"/>
      <xsd:enumeration value="ERI"/>
      <xsd:enumeration value="ESH"/>
      <xsd:enumeration value="ESP"/>
      <xsd:enumeration value="EST"/>
      <xsd:enumeration value="ETH"/>
      <xsd:enumeration value="FIN"/>
      <xsd:enumeration value="FJI"/>
      <xsd:enumeration value="FLK"/>
      <xsd:enumeration value="FRA"/>
      <xsd:enumeration value="FRO"/>
      <xsd:enumeration value="FSM"/>
      <xsd:enumeration value="GAB"/>
      <xsd:enumeration value="GBR"/>
      <xsd:enumeration value="GEO"/>
      <xsd:enumeration value="GGY"/>
      <xsd:enumeration value="GHA"/>
      <xsd:enumeration value="GIB"/>
      <xsd:enumeration value="GIN"/>
      <xsd:enumeration value="GLP"/>
      <xsd:enumeration value="GMB"/>
      <xsd:enumeration value="GNB"/>
      <xsd:enumeration value="GNQ"/>
      <xsd:enumeration value="GRC"/>
      <xsd:enumeration value="GRD"/>
      <xsd:enumeration value="GRL"/>
      <xsd:enumeration value="GTM"/>
      <xsd:enumeration value="GUF"/>
      <xsd:enumeration value="GUM"/>
      <xsd:enumeration value="GUY"/>
      <xsd:enumeration value="HKG"/>
      <xsd:enumeration value="HMD"/>
      <xsd:enumeration value="HND"/>
      <xsd:enumeration value="HRV"/>
      <xsd:enumeration value="HTI"/>
      <xsd:enumeration value="HUN"/>
      <xsd:enumeration value="IDN"/>
      <xsd:enumeration value="IMN"/>
      <xsd:enumeration value="IND"/>
      <xsd:enumeration value="IOT"/>
      <xsd:enumeration value="IRL"/>
      <xsd:enumeration value="IRN"/>
      <xsd:enumeration value="IRQ"/>
      <xsd:enumeration value="ISL"/>
      <xsd:enumeration value="ISR"/>
      <xsd:enumeration value="ITA"/>
      <xsd:enumeration value="JAM"/>
      <xsd:enumeration value="JEY"/>
      <xsd:enumeration value="JOR"/>
      <xsd:enumeration value="JPN"/>
      <xsd:enumeration value="KAZ"/>
      <xsd:enumeration value="KEN"/>
      <xsd:enumeration value="KGZ"/>
      <xsd:enumeration value="KHM"/>
      <xsd:enumeration value="KIR"/>
      <xsd:enumeration value="KNA"/>
      <xsd:enumeration value="KOR"/>
      <xsd:enumeration value="KWT"/>
      <xsd:enumeration value="LAO"/>
      <xsd:enumeration value="LBN"/>
      <xsd:enumeration value="LBR"/>
      <xsd:enumeration value="LBY"/>
      <xsd:enumeration value="LCA"/>
      <xsd:enumeration value="LIE"/>
      <xsd:enumeration value="LKA"/>
      <xsd:enumeration value="LSO"/>
      <xsd:enumeration value="LTU"/>
      <xsd:enumeration value="LUX"/>
      <xsd:enumeration value="LVA"/>
      <xsd:enumeration value="MAC"/>
      <xsd:enumeration value="MAF"/>
      <xsd:enumeration value="MAR"/>
      <xsd:enumeration value="MCO"/>
      <xsd:enumeration value="MDA"/>
      <xsd:enumeration value="MDG"/>
      <xsd:enumeration value="MDV"/>
      <xsd:enumeration value="MEX"/>
      <xsd:enumeration value="MHL"/>
      <xsd:enumeration value="MKD"/>
      <xsd:enumeration value="MLI"/>
      <xsd:enumeration value="MLT"/>
      <xsd:enumeration value="MMR"/>
      <xsd:enumeration value="MNE"/>
      <xsd:enumeration value="MNG"/>
      <xsd:enumeration value="MNP"/>
      <xsd:enumeration value="MOZ"/>
      <xsd:enumeration value="MRT"/>
      <xsd:enumeration value="MSR"/>
      <xsd:enumeration value="MTQ"/>
      <xsd:enumeration value="MUS"/>
      <xsd:enumeration value="MWI"/>
      <xsd:enumeration value="MYS"/>
      <xsd:enumeration value="MYT"/>
      <xsd:enumeration value="NAM"/>
      <xsd:enumeration value="NCL"/>
      <xsd:enumeration value="NER"/>
      <xsd:enumeration value="NFK"/>
      <xsd:enumeration value="NGA"/>
      <xsd:enumeration value="NIC"/>
      <xsd:enumeration value="NIU"/>
      <xsd:enumeration value="NLD"/>
      <xsd:enumeration value="NOR"/>
      <xsd:enumeration value="NPL"/>
      <xsd:enumeration value="NRU"/>
      <xsd:enumeration value="NZL"/>
      <xsd:enumeration value="OMN"/>
      <xsd:enumeration value="PAK"/>
      <xsd:enumeration value="PAN"/>
      <xsd:enumeration value="PCN"/>
      <xsd:enumeration value="PER"/>
      <xsd:enumeration value="PHL"/>
      <xsd:enumeration value="PLW"/>
      <xsd:enumeration value="PNG"/>
      <xsd:enumeration value="POL"/>
      <xsd:enumeration value="PRI"/>
      <xsd:enumeration value="PRK"/>
      <xsd:enumeration value="PRT"/>
      <xsd:enumeration value="PRY"/>
      <xsd:enumeration value="PSE"/>
      <xsd:enumeration value="PYF"/>
      <xsd:enumeration value="QAT"/>
      <xsd:enumeration value="REU"/>
      <xsd:enumeration value="ROU"/>
      <xsd:enumeration value="RUS"/>
      <xsd:enumeration value="RWA"/>
      <xsd:enumeration value="SAU"/>
      <xsd:enumeration value="SDN"/>
      <xsd:enumeration value="SEN"/>
      <xsd:enumeration value="SGP"/>
      <xsd:enumeration value="SGS"/>
      <xsd:enumeration value="SHN"/>
      <xsd:enumeration value="SJM"/>
      <xsd:enumeration value="SLB"/>
      <xsd:enumeration value="SLE"/>
      <xsd:enumeration value="SLV"/>
      <xsd:enumeration value="SMR"/>
      <xsd:enumeration value="SOM"/>
      <xsd:enumeration value="SPM"/>
      <xsd:enumeration value="SRB"/>
      <xsd:enumeration value="SSD"/>
      <xsd:enumeration value="STP"/>
      <xsd:enumeration value="SUR"/>
      <xsd:enumeration value="SVK"/>
      <xsd:enumeration value="SVN"/>
      <xsd:enumeration value="SWE"/>
      <xsd:enumeration value="SWZ"/>
      <xsd:enumeration value="SYC"/>
      <xsd:enumeration value="SYR"/>
      <xsd:enumeration value="TCA"/>
      <xsd:enumeration value="TCD"/>
      <xsd:enumeration value="TGO"/>
      <xsd:enumeration value="THA"/>
      <xsd:enumeration value="TJK"/>
      <xsd:enumeration value="TKL"/>
      <xsd:enumeration value="TKM"/>
      <xsd:enumeration value="TLS"/>
      <xsd:enumeration value="TON"/>
      <xsd:enumeration value="TTO"/>
      <xsd:enumeration value="TUN"/>
      <xsd:enumeration value="TUR"/>
      <xsd:enumeration value="TUV"/>
      <xsd:enumeration value="TWN"/>
      <xsd:enumeration value="TZA"/>
      <xsd:enumeration value="UGA"/>
      <xsd:enumeration value="UKR"/>
      <xsd:enumeration value="UMI"/>
      <xsd:enumeration value="URY"/>
      <xsd:enumeration value="USA"/>
      <xsd:enumeration value="UZB"/>
      <xsd:enumeration value="VAT"/>
      <xsd:enumeration value="VCT"/>
      <xsd:enumeration value="VEN"/>
      <xsd:enumeration value="VGB"/>
      <xsd:enumeration value="VIR"/>
      <xsd:enumeration value="VNM"/>
      <xsd:enumeration value="VUT"/>
      <xsd:enumeration value="WLF"/>
      <xsd:enumeration value="WSM"/>
      <xsd:enumeration value="YEM"/>
      <xsd:enumeration value="ZAF"/>
      <xsd:enumeration value="ZMB"/>
      <xsd:enumeration value="ZWE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AbstractCountry">
    <xsd:restriction base="xsd:string">
      <xsd:length value="2"/>
      <xsd:enumeration value="AF"/>
      <xsd:enumeration value="AX"/>
      <xsd:enumeration value="AL"/>
      <xsd:enumeration value="DZ"/>
      <xsd:enumeration value="AS"/>
      <xsd:enumeration value="AD"/>
      <xsd:enumeration value="AO"/>
      <xsd:enumeration value="AI"/>
      <xsd:enumeration value="AQ"/>
      <xsd:enumeration value="AG"/>
      <xsd:enumeration value="AR"/>
      <xsd:enumeration value="AM"/>
      <xsd:enumeration value="AW"/>
      <xsd:enumeration value="AU"/>
      <xsd:enumeration value="AT"/>
      <xsd:enumeration value="AZ"/>
      <xsd:enumeration value="BS"/>
      <xsd:enumeration value="BH"/>
      <xsd:enumeration value="BD"/>
      <xsd:enumeration value="BB"/>
      <xsd:enumeration value="BY"/>
      <xsd:enumeration value="BE"/>
      <xsd:enumeration value="BZ"/>
      <xsd:enumeration value="BJ"/>
      <xsd:enumeration value="BM"/>
      <xsd:enumeration value="BT"/>
      <xsd:enumeration value="BO"/>
      <xsd:enumeration value="BA"/>
      <xsd:enumeration value="BW"/>
      <xsd:enumeration value="BV"/>
      <xsd:enumeration value="BR"/>
      <xsd:enumeration value="IO"/>
      <xsd:enumeration value="BN"/>
      <xsd:enumeration value="BG"/>
      <xsd:enumeration value="BF"/>
      <xsd:enumeration value="BI"/>
      <xsd:enumeration value="KH"/>
      <xsd:enumeration value="CM"/>
      <xsd:enumeration value="CA"/>
      <xsd:enumeration value="CV"/>
      <xsd:enumeration value="KY"/>
      <xsd:enumeration value="CF"/>
      <xsd:enumeration value="TD"/>
      <xsd:enumeration value="CL"/>
      <xsd:enumeration value="CN"/>
      <xsd:enumeration value="CX"/>
      <xsd:enumeration value="CC"/>
      <xsd:enumeration value="CO"/>
      <xsd:enumeration value="KM"/>
      <xsd:enumeration value="CG"/>
      <xsd:enumeration value="CD"/>
      <xsd:enumeration value="CK"/>
      <xsd:enumeration value="CR"/>
      <xsd:enumeration value="CI"/>
      <xsd:enumeration value="HR"/>
      <xsd:enumeration value="CU"/>
      <xsd:enumeration value="CY"/>
      <xsd:enumeration value="CZ"/>
      <xsd:enumeration value="DK"/>
      <xsd:enumeration value="DJ"/>
      <xsd:enumeration value="DM"/>
      <xsd:enumeration value="DO"/>
      <xsd:enumeration value="EC"/>
      <xsd:enumeration value="EG"/>
      <xsd:enumeration value="SV"/>
      <xsd:enumeration value="GQ"/>
      <xsd:enumeration value="ER"/>
      <xsd:enumeration value="EE"/>
      <xsd:enumeration value="ET"/>
      <xsd:enumeration value="FK"/>
      <xsd:enumeration value="FO"/>
      <xsd:enumeration value="FJ"/>
      <xsd:enumeration value="FI"/>
      <xsd:enumeration value="FR"/>
      <xsd:enumeration value="GF"/>
      <xsd:enumeration value="PF"/>
      <xsd:enumeration value="TF"/>
      <xsd:enumeration value="GA"/>
      <xsd:enumeration value="GM"/>
      <xsd:enumeration value="GE"/>
      <xsd:enumeration value="DE"/>
      <xsd:enumeration value="GH"/>
      <xsd:enumeration value="GI"/>
      <xsd:enumeration value="GR"/>
      <xsd:enumeration value="GL"/>
      <xsd:enumeration value="GD"/>
      <xsd:enumeration value="GP"/>
      <xsd:enumeration value="GU"/>
      <xsd:enumeration value="GT"/>
      <xsd:enumeration value="GG"/>
      <xsd:enumeration value="GN"/>
      <xsd:enumeration value="GW"/>
      <xsd:enumeration value="GY"/>
      <xsd:enumeration value="HT"/>
      <xsd:enumeration value="HM"/>
      <xsd:enumeration value="VA"/>
      <xsd:enumeration value="HN"/>
      <xsd:enumeration value="HK"/>
      <xsd:enumeration value="HU"/>
      <xsd:enumeration value="IS"/>
      <xsd:enumeration value="IN"/>
      <xsd:enumeration value="ID"/>
      <xsd:enumeration value="IR"/>
      <xsd:enumeration value="IQ"/>
      <xsd:enumeration value="IE"/>
      <xsd:enumeration value="IM"/>
      <xsd:enumeration value="IL"/>
      <xsd:enumeration value="IT"/>
      <xsd:enumeration value="JM"/>
      <xsd:enumeration value="JP"/>
      <xsd:enumeration value="JE"/>
      <xsd:enumeration value="JO"/>
      <xsd:enumeration value="KZ"/>
      <xsd:enumeration value="KE"/>
      <xsd:enumeration value="KI"/>
      <xsd:enumeration value="KP"/>
      <xsd:enumeration value="KR"/>
      <xsd:enumeration value="KW"/>
      <xsd:enumeration value="KG"/>
      <xsd:enumeration value="LA"/>
      <xsd:enumeration value="LV"/>
      <xsd:enumeration value="LB"/>
      <xsd:enumeration value="LS"/>
      <xsd:enumeration value="LR"/>
      <xsd:enumeration value="LY"/>
      <xsd:enumeration value="LI"/>
      <xsd:enumeration value="LT"/>
      <xsd:enumeration value="LU"/>
      <xsd:enumeration value="MO"/>
      <xsd:enumeration value="MK"/>
      <xsd:enumeration value="MG"/>
      <xsd:enumeration value="MW"/>
      <xsd:enumeration value="MY"/>
      <xsd:enumeration value="MV"/>
      <xsd:enumeration value="ML"/>
      <xsd:enumeration value="MT"/>
      <xsd:enumeration value="MH"/>
      <xsd:enumeration value="MQ"/>
      <xsd:enumeration value="MR"/>
      <xsd:enumeration value="MU"/>
      <xsd:enumeration value="YT"/>
      <xsd:enumeration value="MX"/>
      <xsd:enumeration value="FM"/>
      <xsd:enumeration value="MD"/>
      <xsd:enumeration value="MC"/>
      <xsd:enumeration value="MN"/>
      <xsd:enumeration value="ME"/>
      <xsd:enumeration value="MS"/>
      <xsd:enumeration value="MA"/>
      <xsd:enumeration value="MZ"/>
      <xsd:enumeration value="MM"/>
      <xsd:enumeration value="NA"/>
      <xsd:enumeration value="NR"/>
      <xsd:enumeration value="NP"/>
      <xsd:enumeration value="NL"/>
      <xsd:enumeration value="AN"/>
      <xsd:enumeration value="NC"/>
      <xsd:enumeration value="NZ"/>
      <xsd:enumeration value="NI"/>
      <xsd:enumeration value="NE"/>
      <xsd:enumeration value="NG"/>
      <xsd:enumeration value="NU"/>
      <xsd:enumeration value="NF"/>
      <xsd:enumeration value="MP"/>
      <xsd:enumeration value="NO"/>
      <xsd:enumeration value="OM"/>
      <xsd:enumeration value="PK"/>
      <xsd:enumeration value="PW"/>
      <xsd:enumeration value="PS"/>
      <xsd:enumeration value="PA"/>
      <xsd:enumeration value="PG"/>
      <xsd:enumeration value="PY"/>
      <xsd:enumeration value="PE"/>
      <xsd:enumeration value="PH"/>
      <xsd:enumeration value="PN"/>
      <xsd:enumeration value="PL"/>
      <xsd:enumeration value="PT"/>
      <xsd:enumeration value="PR"/>
      <xsd:enumeration value="QA"/>
      <xsd:enumeration value="RE"/>
      <xsd:enumeration value="RO"/>
      <xsd:enumeration value="RU"/>
      <xsd:enumeration value="RW"/>
      <xsd:enumeration value="BL"/>
      <xsd:enumeration value="SH"/>
      <xsd:enumeration value="KN"/>
      <xsd:enumeration value="LC"/>
      <xsd:enumeration value="MF"/>
      <xsd:enumeration value="PM"/>
      <xsd:enumeration value="VC"/>
      <xsd:enumeration value="WS"/>
      <xsd:enumeration value="SM"/>
      <xsd:enumeration value="ST"/>
      <xsd:enumeration value="SA"/>
      <xsd:enumeration value="SN"/>
      <xsd:enumeration value="RS"/>
      <xsd:enumeration value="SC"/>
      <xsd:enumeration value="SL"/>
      <xsd:enumeration value="SG"/>
      <xsd:enumeration value="SK"/>
      <xsd:enumeration value="SI"/>
      <xsd:enumeration value="SB"/>
      <xsd:enumeration value="SO"/>
      <xsd:enumeration value="ZA"/>
      <xsd:enumeration value="GS"/>
      <xsd:enumeration value="ES"/>
      <xsd:enumeration value="LK"/>
      <xsd:enumeration value="SD"/>
      <xsd:enumeration value="SR"/>
      <xsd:enumeration value="SJ"/>
      <xsd:enumeration value="SZ"/>
      <xsd:enumeration value="SE"/>
      <xsd:enumeration value="CH"/>
      <xsd:enumeration value="SY"/>
      <xsd:enumeration value="TW"/>
      <xsd:enumeration value="TJ"/>
      <xsd:enumeration value="TZ"/>
      <xsd:enumeration value="TH"/>
      <xsd:enumeration value="TL"/>
      <xsd:enumeration value="TG"/>
      <xsd:enumeration value="TK"/>
      <xsd:enumeration value="TO"/>
      <xsd:enumeration value="TT"/>
      <xsd:enumeration value="TN"/>
      <xsd:enumeration value="TR"/>
      <xsd:enumeration value="TM"/>
      <xsd:enumeration value="TC"/>
      <xsd:enumeration value="TV"/>
      <xsd:enumeration value="UG"/>
      <xsd:enumeration value="UA"/>
      <xsd:enumeration value="AE"/>
      <xsd:enumeration value="GB"/>
      <xsd:enumeration value="US"/>
      <xsd:enumeration value="UM"/>
      <xsd:enumeration value="UY"/>
      <xsd:enumeration value="UZ"/>
      <xsd:enumeration value="VU"/>
      <xsd:enumeration value="VE"/>
      <xsd:enumeration value="VN"/>
      <xsd:enumeration value="VG"/>
      <xsd:enumeration value="VI"/>
      <xsd:enumeration value="WF"/>
      <xsd:enumeration value="EH"/>
      <xsd:enumeration value="YE"/>
      <xsd:enumeration value="ZM"/>
      <xsd:enumeration value="ZW"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Amount">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="5"/>
      <xsd:totalDigits value="18"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="customer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="6"/>
        <xsd:maxLength value="34"/>
        <xsd:pattern value="[0-9]{6,7}"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="name">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="arabicName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="shortName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="24"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="arabicShortName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="24"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="secondName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="thirdName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="arabicFirstName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="arabicSecondName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="arabicThirdName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="arabicLastName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="customerType">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reason">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
        <xsd:enumeration value="004"/>
        <xsd:enumeration value="005"/>
        <xsd:enumeration value="006"/>
        <xsd:enumeration value="007"/>
        <xsd:enumeration value="008"/>
        <xsd:enumeration value="009"/>
        <xsd:enumeration value="010"/>
        <xsd:enumeration value="011"/>
        <xsd:enumeration value="012"/>
        <xsd:enumeration value="013"/>
        <xsd:enumeration value="014"/>
        <xsd:enumeration value="999"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="occupationType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
        <xsd:enumeration value="004"/>
        <xsd:enumeration value="005"/>
        <xsd:enumeration value="006"/>
        <xsd:enumeration value="007"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="allowPartialPayment" type="xsd:boolean"/>
  <xsd:element name="closed" type="tns:Flag"/>
  <xsd:element name="deceasedOrLiquidation" type="tns:Flag"/>
  <xsd:element name="inactive" type="tns:Flag"/>
  <xsd:element name="parentCountry" type="tns:Country"/>
  <xsd:element name="riskCountry" type="tns:Country"/>
  <xsd:element name="residenceCountry" type="tns:Country"/>
  <xsd:element name="internalRiskCountry" type="tns:Country"/>
  <xsd:element name="customerOpenDate" type="xsd:date"/>
  <xsd:element name="customerCloseDate" type="xsd:date"/>
  <xsd:element name="detail">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="group">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="64"/>
        <xsd:minLength value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="occupation">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
        <xsd:minLength value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="otherDetails">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:detail"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reportingCurrency" type="tns:Currency"/>
  <xsd:element name="internalAccount" type="tns:Flag"/>
  <xsd:element name="account" type="tns:Account"/>
  <xsd:element name="accountType">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountStructure">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="blocked" type="tns:Flag"/>
  <xsd:element name="statusBalance" type="tns:Amount"/>
  <xsd:element name="jointAccount" type="tns:Flag"/>
  <xsd:element name="jointPrimaryCustomer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="6"/>
        <xsd:maxLength value="34"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="ledgerBalance" type="tns:Amount"/>
  <xsd:element name="ledgerBalanceDate" type="xsd:date"/>
  <xsd:element name="currentAvailableBalance" type="tns:Amount"/>
  <xsd:element name="previousCleardBalance" type="tns:Amount"/>
  <xsd:element name="overdraftLimit" type="tns:Amount"/>
  <xsd:element name="iban">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="34"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="currency" type="tns:Currency"/>
  <xsd:element name="equivalentCurrency" type="tns:Currency"/>
  <xsd:element name="civilId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="34"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="documentType">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="documentIssueDate" type="xsd:date"/>
  <xsd:element name="documentExpiryDate" type="xsd:date"/>
  <xsd:element name="documentId">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="civilIdExpiry" type="xsd:date"/>
  <xsd:element name="contacts">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:phoneNumber"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="postalCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="5"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="areaCode">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="POBox">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="35"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="email">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="gender">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="nationality" type="tns:Nationality"/>
  <xsd:element name="reasonOfOpening">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" minOccurs="1" ref="tns:reason"/>
        <xsd:element minOccurs="0" ref="tns:narratives"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="birthDate" type="xsd:date"/>
  <xsd:element name="title">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="employer">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="socialStatus">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="updateGSM">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GSMNumber" type="xsd:string"/>
  <xsd:element name="salary" type="tns:Amount"/>
  <xsd:element name="jobTitle">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="extension" type="xsd:string"/>
  <xsd:element name="businessObject" type="xsd:string"/>
  <xsd:element name="data">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:id"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:attribute name="text" type="xsd:string"/>
  <xsd:element name="user" type="xsd:string"/>
  <xsd:element name="class">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="salutation">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="bankIdentifier">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
        <xsd:minLength value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="location">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
        <xsd:minLength value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="branchIdentifier">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="statementFrequency">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="tinId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="35"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="organisationName">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="35"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="previousStatementBalance" type="tns:Amount"/>
  <xsd:element name="lastStatementDate" type="xsd:date"/>
  <xsd:element name="lastStatementNumber" type="xsd:int"/>
  <xsd:element name="accountOpenDate" type="xsd:date"/>
  <xsd:element name="lastEntryDate" type="xsd:date"/>
  <xsd:element name="accountClosedDate" type="xsd:date"/>
  <xsd:element name="orginalBranch" type="tns:Branch"/>
  <xsd:element name="branchChangeDate" type="xsd:date"/>
  <xsd:element name="information" type="xsd:string"/>
  <xsd:complexType name="Country">
    <xsd:simpleContent>
      <xsd:extension base="tns:AbstractCountry">
        <xsd:attribute ref="tns:text"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AbstractCurrency">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
      <xsd:enumeration value="AFN"/>
      <xsd:enumeration value="ALL"/>
      <xsd:enumeration value="DZD"/>
      <xsd:enumeration value="USD"/>
      <xsd:enumeration value="EUR"/>
      <xsd:enumeration value="AOA"/>
      <xsd:enumeration value="XCD"/>
      <xsd:enumeration value="ARS"/>
      <xsd:enumeration value="AMD"/>
      <xsd:enumeration value="AWG"/>
      <xsd:enumeration value="AUD"/>
      <xsd:enumeration value="AZM"/>
      <xsd:enumeration value="BSD"/>
      <xsd:enumeration value="BHD"/>
      <xsd:enumeration value="BDT"/>
      <xsd:enumeration value="BBD"/>
      <xsd:enumeration value="BYR"/>
      <xsd:enumeration value="BZD"/>
      <xsd:enumeration value="XOF"/>
      <xsd:enumeration value="BMD"/>
      <xsd:enumeration value="INR"/>
      <xsd:enumeration value="BTN"/>
      <xsd:enumeration value="BOB"/>
      <xsd:enumeration value="BOV"/>
      <xsd:enumeration value="BAM"/>
      <xsd:enumeration value="BWP"/>
      <xsd:enumeration value="NOK"/>
      <xsd:enumeration value="BRL"/>
      <xsd:enumeration value="BND"/>
      <xsd:enumeration value="BGN"/>
      <xsd:enumeration value="BIF"/>
      <xsd:enumeration value="KHR"/>
      <xsd:enumeration value="XAF"/>
      <xsd:enumeration value="CAD"/>
      <xsd:enumeration value="CVE"/>
      <xsd:enumeration value="KYD"/>
      <xsd:enumeration value="CLP"/>
      <xsd:enumeration value="CLF"/>
      <xsd:enumeration value="CNY"/>
      <xsd:enumeration value="COP"/>
      <xsd:enumeration value="COU"/>
      <xsd:enumeration value="KMF"/>
      <xsd:enumeration value="CDF"/>
      <xsd:enumeration value="CRC"/>
      <xsd:enumeration value="HRK"/>
      <xsd:enumeration value="CUP"/>
      <xsd:enumeration value="CYP"/>
      <xsd:enumeration value="CZK"/>
      <xsd:enumeration value="DJF"/>
      <xsd:enumeration value="DOP"/>
      <xsd:enumeration value="EGP"/>
      <xsd:enumeration value="SVC"/>
      <xsd:enumeration value="ERN"/>
      <xsd:enumeration value="EEK"/>
      <xsd:enumeration value="ETB"/>
      <xsd:enumeration value="FKP"/>
      <xsd:enumeration value="FJD"/>
      <xsd:enumeration value="XPF"/>
      <xsd:enumeration value="GMD"/>
      <xsd:enumeration value="GEL"/>
      <xsd:enumeration value="GHC"/>
      <xsd:enumeration value="GIP"/>
      <xsd:enumeration value="DKK"/>
      <xsd:enumeration value="GTQ"/>
      <xsd:enumeration value="GNF"/>
      <xsd:enumeration value="GWP"/>
      <xsd:enumeration value="GYD"/>
      <xsd:enumeration value="HTG"/>
      <xsd:enumeration value="HNL"/>
      <xsd:enumeration value="HKD"/>
      <xsd:enumeration value="HUF"/>
      <xsd:enumeration value="ISK"/>
      <xsd:enumeration value="IDR"/>
      <xsd:enumeration value="XDR"/>
      <xsd:enumeration value="IRR"/>
      <xsd:enumeration value="IQD"/>
      <xsd:enumeration value="ILS"/>
      <xsd:enumeration value="JMD"/>
      <xsd:enumeration value="JPY"/>
      <xsd:enumeration value="JOD"/>
      <xsd:enumeration value="KZT"/>
      <xsd:enumeration value="KES"/>
      <xsd:enumeration value="KPW"/>
      <xsd:enumeration value="KRW"/>
      <xsd:enumeration value="KWD"/>
      <xsd:enumeration value="KGS"/>
      <xsd:enumeration value="LAK"/>
      <xsd:enumeration value="LVL"/>
      <xsd:enumeration value="LBP"/>
      <xsd:enumeration value="ZAR"/>
      <xsd:enumeration value="LSL"/>
      <xsd:enumeration value="LRD"/>
      <xsd:enumeration value="LYD"/>
      <xsd:enumeration value="CHF"/>
      <xsd:enumeration value="LTL"/>
      <xsd:enumeration value="MOP"/>
      <xsd:enumeration value="MKD"/>
      <xsd:enumeration value="MGA"/>
      <xsd:enumeration value="MWK"/>
      <xsd:enumeration value="MYR"/>
      <xsd:enumeration value="MVR"/>
      <xsd:enumeration value="MTL"/>
      <xsd:enumeration value="MRO"/>
      <xsd:enumeration value="MUR"/>
      <xsd:enumeration value="MXN"/>
      <xsd:enumeration value="MXV"/>
      <xsd:enumeration value="MDL"/>
      <xsd:enumeration value="MNT"/>
      <xsd:enumeration value="MAD"/>
      <xsd:enumeration value="MZM"/>
      <xsd:enumeration value="MMK"/>
      <xsd:enumeration value="NAD"/>
      <xsd:enumeration value="NPR"/>
      <xsd:enumeration value="ANG"/>
      <xsd:enumeration value="NZD"/>
      <xsd:enumeration value="NIO"/>
      <xsd:enumeration value="NGN"/>
      <xsd:enumeration value="OMR"/>
      <xsd:enumeration value="PKR"/>
      <xsd:enumeration value="PAB"/>
      <xsd:enumeration value="PGK"/>
      <xsd:enumeration value="PYG"/>
      <xsd:enumeration value="PEN"/>
      <xsd:enumeration value="PHP"/>
      <xsd:enumeration value="PLN"/>
      <xsd:enumeration value="QAR"/>
      <xsd:enumeration value="ROL"/>
      <xsd:enumeration value="RUB"/>
      <xsd:enumeration value="RWF"/>
      <xsd:enumeration value="SHP"/>
      <xsd:enumeration value="WST"/>
      <xsd:enumeration value="STD"/>
      <xsd:enumeration value="SAR"/>
      <xsd:enumeration value="CSD"/>
      <xsd:enumeration value="SCR"/>
      <xsd:enumeration value="SLL"/>
      <xsd:enumeration value="SGD"/>
      <xsd:enumeration value="SKK"/>
      <xsd:enumeration value="SIT"/>
      <xsd:enumeration value="SBD"/>
      <xsd:enumeration value="SOS"/>
      <xsd:enumeration value="LKR"/>
      <xsd:enumeration value="SDD"/>
      <xsd:enumeration value="SRD"/>
      <xsd:enumeration value="SZL"/>
      <xsd:enumeration value="SEK"/>
      <xsd:enumeration value="CHW"/>
      <xsd:enumeration value="CHE"/>
      <xsd:enumeration value="SYP"/>
      <xsd:enumeration value="TWD"/>
      <xsd:enumeration value="TJS"/>
      <xsd:enumeration value="TZS"/>
      <xsd:enumeration value="THB"/>
      <xsd:enumeration value="TOP"/>
      <xsd:enumeration value="TTD"/>
      <xsd:enumeration value="TND"/>
      <xsd:enumeration value="TRY"/>
      <xsd:enumeration value="TRL"/>
      <xsd:enumeration value="TMM"/>
      <xsd:enumeration value="UGX"/>
      <xsd:enumeration value="UAH"/>
      <xsd:enumeration value="AED"/>
      <xsd:enumeration value="GBP"/>
      <xsd:enumeration value="USS"/>
      <xsd:enumeration value="USN"/>
      <xsd:enumeration value="UYU"/>
      <xsd:enumeration value="UZS"/>
      <xsd:enumeration value="VUV"/>
      <xsd:enumeration value="VEB"/>
      <xsd:enumeration value="VND"/>
      <xsd:enumeration value="YER"/>
      <xsd:enumeration value="ZMK"/>
      <xsd:enumeration value="ZWD"/>
      <xsd:enumeration value="XAU"/>
      <xsd:enumeration value="XBA"/>
      <xsd:enumeration value="XBB"/>
      <xsd:enumeration value="XBC"/>
      <xsd:enumeration value="XBD"/>
      <xsd:enumeration value="XPD"/>
      <xsd:enumeration value="XPT"/>
      <xsd:enumeration value="XAG"/>
      <xsd:enumeration value="XFU"/>
      <xsd:enumeration value="XFO"/>
      <xsd:enumeration value="XTS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Currency">
    <xsd:simpleContent>
      <xsd:extension base="tns:AbstractCurrency">
        <xsd:attribute ref="tns:text"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="Nationality">
    <xsd:simpleContent>
      <xsd:extension base="tns:AbstractNationality">
        <xsd:attribute ref="tns:text"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AbstractBranch">
    <xsd:restriction base="xsd:string">
      <xsd:length value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Branch">
    <xsd:simpleContent>
      <xsd:extension base="tns:AbstractBranch">
        <xsd:attribute ref="tns:text"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="address">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="5" ref="tns:line"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="line">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="35"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="phoneNumber">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:phoneType"/>
          <xsd:attribute ref="tns:countryCode"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="swift">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:bankIdentifier"/>
        <xsd:element ref="tns:country"/>
        <xsd:element ref="tns:location"/>
        <xsd:element minOccurs="0" ref="tns:branchIdentifier"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="country" type="tns:Country"/>
  <xsd:element name="limitExpiryDate" type="xsd:date"/>
  <xsd:element name="reservedBalance" type="tns:Amount"/>
  <xsd:element name="currentClearedBalance" type="tns:Amount"/>
  <xsd:element name="clearingToday" type="tns:Amount"/>
  <xsd:element name="clearingTomorrow" type="tns:Amount"/>
  <xsd:element name="clearingAfterTomorrow" type="tns:Amount"/>
  <xsd:element name="shadowDebit" type="tns:Amount"/>
  <xsd:element name="shadowCredit" type="tns:Amount"/>
  <xsd:element name="shadowAdjustments" type="tns:Amount"/>
  <xsd:attribute name="phoneType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="GSM"/>
        <xsd:enumeration value="HomePhone"/>
        <xsd:enumeration value="WorkPhone"/>
        <xsd:enumeration value="Fax"/>
        <xsd:enumeration value="Extension"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:element name="cardType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="cardNumber">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:sequence"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="issueDate" type="xsd:date"/>
  <xsd:element name="expiryDate" type="xsd:date"/>
  <xsd:element name="cardStrata">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cardStatus">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cardLimit" type="tns:Amount"/>
  <xsd:element name="cardHolderName" type="xsd:string"/>
  <xsd:attribute name="sequence" type="xsd:string"/>
  <xsd:attribute name="code" type="xsd:string"/>
  <xsd:attribute name="currency" type="tns:AbstractCurrency"/>
  <xsd:attribute name="fromDate" type="xsd:date"/>
  <xsd:attribute name="toDate" type="xsd:date"/>
  <xsd:element name="amount">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="tns:Amount">
          <xsd:attribute ref="tns:currency"/>
          <xsd:attribute ref="tns:code"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="totalAmountDue">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="tns:Amount">
          <xsd:attribute ref="tns:currency"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="dueAmount" type="tns:Amount"/>
  <xsd:element name="dueDate" type="xsd:date"/>
  <xsd:element name="reference" type="tns:Reference"/>
  <xsd:element name="valueDate" type="xsd:date"/>
  <xsd:element name="narrative" type="xsd:string"/>
  <xsd:element name="narratives">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:narrative"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="externalReference">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="paymentReference">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="reasonCode">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="partnerId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="billType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="contractNumber" type="xsd:string"/>
  <xsd:element name="accountNumber" type="xsd:string"/>
  <xsd:element name="retrievalKey">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:type"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="billNumber" type="xsd:string"/>
  <xsd:element name="month">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="2"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="currentAmount" type="tns:Amount"/>
  <xsd:element name="minimumAmount" type="tns:Amount"/>
  <xsd:element name="maximumAmount" type="tns:Amount"/>
  <xsd:element name="billAlias" type="xsd:string"/>
  <xsd:element name="partnerReference" type="xsd:string"/>
  <xsd:element name="paymentMethod" type="xsd:string"/>
  <xsd:element name="paymentSource" type="xsd:string"/>
  <xsd:element name="equivalentStatusBalance" type="tns:Amount"/>
  <xsd:element name="equivalentLedgerBalance" type="tns:Amount"/>
  <xsd:element name="equivalentCurrentAvailableBalance" type="tns:Amount"/>
  <xsd:element name="previousAvailableBalance" type="tns:Amount"/>
  <xsd:element name="equivalentPreviousAvailableBalance" type="tns:Amount"/>
  <xsd:element name="equivalentOverdraftLimit" type="tns:Amount"/>
  <xsd:element name="overdraftLimitExpiryDate" type="xsd:date"/>
  <xsd:element name="processingDate" type="xsd:date"/>
  <xsd:element name="equivalentReservedBalance" type="tns:Amount"/>
  <xsd:element name="equivalentCurrentClearedBalance" type="tns:Amount"/>
  <xsd:element name="equivalentClearingToday" type="tns:Amount"/>
  <xsd:element name="equivalentClearingTomorrow" type="tns:Amount"/>
  <xsd:element name="equivalentClearingAfterTomorrow" type="tns:Amount"/>
  <xsd:element name="equivalentShadowDebit" type="tns:Amount"/>
  <xsd:element name="equivalentShadowCredit" type="tns:Amount"/>
  <xsd:element name="equivalentShadowAdjustments" type="tns:Amount"/>
  <xsd:element name="nextStatementDate" type="xsd:date"/>
  <xsd:element name="grade">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="sector">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="hiringDate" type="xsd:date"/>
  <xsd:element name="timeStamp" type="xsd:dateTime"/>
  <xsd:element name="source">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="24"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="statementNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
        <xsd:minLength value="0"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="numberOfRecords" type="xsd:int"/>
  <xsd:element name="postingDate" type="xsd:date"/>
  <xsd:element name="transactionCode">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="userReference">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="transaction">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:reference"/>
        <xsd:element ref="tns:postingDate"/>
        <xsd:element ref="tns:valueDate"/>
        <xsd:element ref="tns:amount"/>
        <xsd:element ref="tns:currency"/>
        <xsd:element ref="tns:transactionCode"/>
        <xsd:element minOccurs="0" ref="tns:userReference"/>
        <xsd:element minOccurs="0" ref="tns:runningBalance"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="statementDate" type="xsd:date"/>
  <xsd:element name="fromDate" type="xsd:date"/>
  <xsd:element name="toDate" type="xsd:date"/>
  <xsd:element name="date" type="xsd:date"/>
  <xsd:element name="statementByEmail" type="xsd:boolean"/>
  <xsd:element name="companyCategory">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="alias">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="48"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="rate" type="xsd:decimal"/>
  <xsd:element name="creationDate" type="xsd:date"/>
  <xsd:element name="runningBalance" type="tns:Amount"/>
  <xsd:element name="accountIdentifier">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="34"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="deductFromAmount" type="xsd:boolean"/>
  <xsd:element name="queuingCharge" type="xsd:boolean"/>
  <xsd:element name="purpose">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="stream">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:base64Binary">
          <xsd:attribute ref="tns:type"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:attribute name="type" type="xsd:string"/>
  <xsd:element name="id" type="xsd:string"/>
  <xsd:element name="dealType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="dealNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="startDate" type="xsd:date"/>
  <xsd:element name="endDate" type="xsd:date"/>
  <xsd:element name="loanType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="loanNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="installment" type="tns:Amount"/>
  <xsd:element name="outstandingAmount" type="tns:Amount"/>
  <xsd:element name="startAmount" type="tns:Amount"/>
  <xsd:element name="buyRate" type="xsd:decimal"/>
  <xsd:element name="sellRate" type="xsd:decimal"/>
  <xsd:element name="freeText">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="512"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="messageId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="12"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="parameter">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="48"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="parameters">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:parameter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="status">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="state">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="nextBusinessDate" type="xsd:date"/>
  <xsd:element default="001" name="addressType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
        <xsd:enumeration value="004"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="addressCountry" type="tns:Country"/>
  <xsd:element name="city">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="10"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="buildingVillaNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="wayNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="flatNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="16"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="street">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="landmark">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="64"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="sequence" type="xsd:int"/>
  <xsd:element name="penalty" type="tns:Amount"/>
  <xsd:element name="principal" type="tns:Amount"/>
  <xsd:element name="interest" type="tns:Amount"/>
  <xsd:element name="paidAmount" type="tns:Amount"/>
  <xsd:element name="paid" type="xsd:boolean"/>
  <xsd:element name="previousBusinessDate" type="xsd:date"/>
  <xsd:element name="spotDate" type="xsd:date"/>
  <xsd:element name="forwardValueDate" type="xsd:date"/>
  <xsd:element name="backValueDate" type="xsd:date"/>
  <xsd:element name="firstSerialNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="lastSerialNumber">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="15"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="payee">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="35"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="entity">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:type"/>
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="joint" type="tns:Flag"/>
  <xsd:element name="cardPlan">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="lastPaymentAmount" type="tns:Amount"/>
  <xsd:element name="lastPaymentDate" type="xsd:date"/>
  <xsd:element name="lastPurchaseAmount" type="tns:Amount"/>
  <xsd:element name="lastPurchaseDate" type="xsd:date"/>
  <xsd:element name="membershipId">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="24"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="billingCurrency" type="tns:Currency"/>
  <xsd:element name="availableBalance" type="tns:Amount"/>
  <xsd:element name="currentBalance" type="tns:Amount"/>
  <xsd:element name="customerName" type="xsd:string"/>
  <xsd:element name="customerClass">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
        <xsd:enumeration value="004"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="customerCategory">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="value" type="xsd:string"/>
  <xsd:element name="field">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:code"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="serviceId" type="xsd:string"/>
  <xsd:element name="userData" type="xsd:string"/>
  <xsd:element name="keyInfo" type="xsd:string"/>
  <xsd:element name="pinBlock" type="xsd:string"/>
  <xsd:element name="interestSummary">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:rate"/>
        <xsd:element minOccurs="0" ref="tns:netInterest"/>
        <xsd:element minOccurs="0" ref="tns:accrued"/>
        <xsd:element minOccurs="0" ref="tns:adjusted"/>
        <xsd:element minOccurs="0" ref="tns:accruedToNextCycle"/>
        <xsd:element minOccurs="0" ref="tns:accruedToNextPeriod"/>
        <xsd:element minOccurs="0" ref="tns:accruedToTotalPeriod"/>
        <xsd:element minOccurs="0" ref="tns:frequency"/>
        <xsd:element minOccurs="0" ref="tns:nominatedAccount"/>
      </xsd:sequence>
      <xsd:attribute ref="tns:type"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="netInterest" type="tns:Amount"/>
  <xsd:element name="accrued" type="tns:Amount"/>
  <xsd:element name="adjusted" type="tns:Amount"/>
  <xsd:element name="accruedToNextCycle" type="tns:Amount"/>
  <xsd:element name="accruedToNextPeriod" type="tns:Amount"/>
  <xsd:element name="accruedToTotalPeriod" type="tns:Amount"/>
  <xsd:element name="totalPosted" type="tns:Amount"/>
  <xsd:simpleType name="Frequency">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="3"/>
      <xsd:pattern value="[A-Z]1[0-9]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="frequency" type="tns:Frequency"/>
  <xsd:element name="nominatedAccount" type="tns:Account"/>
  <xsd:simpleType name="Account">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="13"/>
      <xsd:maxLength value="34"/>
      <xsd:pattern value="[0-9]{13,14}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="tierSummary">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" minOccurs="1" ref="tns:tier"/>
        <xsd:element minOccurs="1" ref="tns:splitBalanceTier"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="tierBalance" type="tns:Amount"/>
  <xsd:element name="tierRate" type="xsd:string"/>
  <xsd:element name="tier">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:tierBalance"/>
        <xsd:element ref="tns:rate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="splitBalanceTier" type="xsd:boolean"/>
  <xsd:element name="loyaltyProgram" type="xsd:string"/>
  <xsd:element name="points">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:integer">
          <xsd:attribute ref="tns:code"/>
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="pointBalance">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:points"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="earnedPoints">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:points"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="redeemedPoints">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:points"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="bookType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
        <xsd:enumeration value="003"/>
        <xsd:minLength value="3"/>
        <xsd:maxLength value="3"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="pickupBranch" type="xsd:string"/>
  <xsd:element name="instruction">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:code"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="specialInstructions">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:instruction"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="otherNationalities">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:nationality"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="documentAuthority" type="xsd:string"/>
  <xsd:element name="document">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:documentId"/>
        <xsd:element ref="tns:documentType"/>
        <xsd:element minOccurs="0" ref="tns:documentIssueDate"/>
        <xsd:element minOccurs="0" ref="tns:documentExpiryDate"/>
        <xsd:element minOccurs="0" ref="tns:documentAuthority"/>
        <xsd:element minOccurs="0" ref="tns:documentIssuingCountry"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="guardianCustomer" type="xsd:string"/>
  <xsd:element name="privilagedType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  
  <xsd:element name="discounts">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element minOccurs="0" ref="tns:discountDetails"/>
			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
	
	<xsd:element name="discountDetails">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element minOccurs="0" ref="tns:amount"/>
				<xsd:element minOccurs="0" ref="tns:currency"/>
			</xsd:sequence>
			<xsd:attribute ref="tns:text"/>
		</xsd:complexType>
    </xsd:element>
	
	
	<xsd:element name="fees">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element minOccurs="0" ref="tns:feeDetails"/>
			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
	
	<xsd:element name="feeDetails">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element minOccurs="0" ref="tns:amount"/>
				<xsd:element minOccurs="0" ref="tns:currency"/>
			</xsd:sequence>
			<xsd:attribute ref="tns:text"/>
		</xsd:complexType>
    </xsd:element>
	
  <xsd:element name="authorizationType">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:length value="3"/>
        <xsd:enumeration value="001"/>
        <xsd:enumeration value="002"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="placeOfBirth" type="xsd:string"/>
  <xsd:element name="chargeAccount" type="xsd:string" />
  <xsd:element name="cityOfBirth" type="xsd:string"/>
  <xsd:element name="countryOfBirth" type="tns:Country"/>
  <xsd:element name="customerIdentifications">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:document"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="contactMethod" type="xsd:string"/>
  <xsd:simpleType name="relationType">
    <xsd:annotation/>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="relation">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="tns:relationType">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="lineOfBusiness" type="xsd:string"/>
  <xsd:element name="option" type="xsd:string"/>
  <xsd:element name="authorized" type="xsd:boolean"/>
  <xsd:element name="feature">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:code"/>
          <xsd:attribute ref="tns:mode"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="userRights">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:lineOfBusiness"/>
        <xsd:element ref="tns:option"/>
        <xsd:element ref="tns:authorized"/>
        <xsd:element minOccurs="0" ref="tns:features"/>
        <xsd:element minOccurs="0" ref="tns:globalParameters"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="service" type="xsd:string"/>
  <xsd:element name="services">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:service"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="question">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:boolean">
          <xsd:attribute ref="tns:id"/>
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:attribute name="id" type="xsd:string"/>
  <xsd:element name="reportTitle" type="xsd:string"/>
  <xsd:attribute name="mode" type="xsd:string"/>
  <xsd:element name="features">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:feature"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="globalParameters">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:globalParameter"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="globalParameter">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:id"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reportName" type="xsd:string"/>
  <xsd:element name="applicationId" type="xsd:string"/>
  <xsd:element name="fileLocation">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:type"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="processId" type="xsd:string"/>
  <xsd:element name="flowURL" type="xsd:string"/>
  <xsd:element name="priority" type="xsd:int"/>
  <xsd:element name="thirdPartyReference" type="xsd:string"/>
  <xsd:element name="BankClearingCode" type="xsd:string"/>
  <xsd:element name="transferReference" type="xsd:string"/>
  <xsd:element name="orginalReference" type="xsd:string"/>
  <xsd:element name="type" type="xsd:string"/>
  <xsd:element name="processReference" type="xsd:string"/>
  <xsd:element name="extraHours" type="xsd:int"/>
  <xsd:element name="netSalary" type="tns:Amount"/>
  <xsd:element name="effectiveWorkDays" type="xsd:int"/>
  <xsd:element name="year">
    <xsd:simpleType>
      <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="paymentType" type="xsd:string"/>
  <xsd:element name="businessType" type="xsd:string"/>
  <xsd:element name="signatory" type="xsd:string"/>
  <xsd:element name="signatories">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element maxOccurs="unbounded" ref="tns:signatory"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="branchCount" type="xsd:int"/>
  <xsd:element name="operation" type="xsd:string"/>
  <xsd:element name="categoryId" type="xsd:string"/>
  <xsd:element name="promotionCode" type="xsd:string"/>
  <xsd:element name="integrationType" type="xsd:string"/>
  <xsd:element name="merchant">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="tns:account"/>
        <xsd:element ref="tns:name"/>
        <xsd:element minOccurs="0" ref="tns:location"/>
        <xsd:element minOccurs="0" ref="tns:categoryId"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MerchantConsumerID" type="xsd:string"/>
  <xsd:element name="MerchantCategoryCode" type="xsd:string"/>
  <xsd:element name="MerchantGrpID" type="xsd:string"/>
  <xsd:element name="MerchantTerminalID" type="xsd:string"/>
  <xsd:element name="MerchantFiller" type="xsd:string"/>
  <xsd:element name="MerchantName" type="xsd:string"/>
  <xsd:element name="MerchantInitaeMethod" type="xsd:string"/>
  <xsd:element name="MerchantTipOrConvnceIndicator" type="xsd:string"/>
  <xsd:element name="MerchantFeePercent" type="xsd:string"/>
  <xsd:element name="MerchantCountry" type="xsd:string"/>
  <xsd:element name="MerchantCity" type="xsd:string"/>
  <xsd:element name="MerchantpostCode" type="xsd:string"/>
  <xsd:element name="MerchantinvoiceNumber" type="xsd:string"/>
  <xsd:element name="SupplementaryData">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="0">
        <xsd:element minOccurs="0" ref="tns:MerchantConsumerID"/>
        <xsd:element minOccurs="0" ref="tns:MerchantCategoryCode"/>
        <xsd:element minOccurs="0" ref="tns:MerchantGrpID"/>
        <xsd:element minOccurs="0" ref="tns:MerchantTerminalID"/>
        <xsd:element minOccurs="0" ref="tns:MerchantFiller"/>
        <xsd:element minOccurs="0" ref="tns:MerchantName"/>
        <xsd:element minOccurs="0" ref="tns:MerchantInitaeMethod"/>
        <xsd:element minOccurs="0" ref="tns:MerchantTipOrConvnceIndicator"/>
        <xsd:element minOccurs="0" ref="tns:MerchantFeePercent"/>
        <xsd:element minOccurs="0" ref="tns:MerchantCountry"/>
        <xsd:element minOccurs="0" ref="tns:MerchantCity"/>
        <xsd:element minOccurs="0" ref="tns:MerchantpostCode"/>
        <xsd:element minOccurs="0" ref="tns:MerchantinvoiceNumber"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="walletType" type="xsd:string"/>
  <xsd:element name="walletIdType" type="xsd:string"/>
  <xsd:element name="walletId" type="xsd:string"/>
  <xsd:element name="walletLabel" type="xsd:string"/>
  <xsd:element name="registrationCode" type="xsd:string"/>
  <xsd:element name="oabCustomer" type="xsd:boolean"/>
  <xsd:element name="default" type="xsd:boolean"/>
  <xsd:element name="documentIssuingCountry" type="tns:Country"/>
  <xsd:element name="label" type="xsd:string"/>
  <xsd:element name="interestFrequency" type="tns:Frequency"/>
  <xsd:element name="instalmentFrequency" type="tns:Frequency"/>
  <xsd:complexType name="Reference">
    <xsd:simpleContent>
      <xsd:extension base="tns:AbstractReference">
        <xsd:attribute ref="tns:type"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AbstractReference">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0"/>
      <xsd:maxLength value="128"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="facilityReference" type="tns:Reference"/>
  <xsd:complexType name="Evaluation">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="tns:name"/>
      <xsd:element minOccurs="0" ref="tns:reference"/>
      <xsd:element ref="tns:amount"/>
      <xsd:element minOccurs="0" ref="tns:date"/>
      <xsd:element minOccurs="0" ref="tns:expiryDate"/>
      <xsd:element ref="tns:reviewFrequency"/>
      <xsd:element minOccurs="0" ref="tns:lastReviewDate"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="lastReviewDate" type="xsd:date"/>
  <xsd:element name="collateralValue" type="tns:Evaluation"/>
  <xsd:element name="bankValuation" type="tns:Evaluation"/>
  <xsd:element name="insuranceValuation" type="tns:Evaluation"/>
  <xsd:element name="valuerValuation" type="tns:Evaluation"/>
  <xsd:element name="collateralType" type="tns:Type"/>
  <xsd:complexType name="Type">
    <xsd:sequence/>
    <xsd:attribute ref="tns:text"/>
  </xsd:complexType>
  <xsd:element name="typeOfSecurity" type="tns:Type"/>
  <xsd:element name="reviewFrequency" type="tns:Frequency"/>
  <xsd:element name="limitCategory" type="tns:Type"/>
  <xsd:element name="limitAmount" type="tns:Amount"/>
  <xsd:element name="riskAmount" type="tns:Amount"/>
  <xsd:element name="availableAmount" type="tns:Amount"/>
  <xsd:element name="numberOfDaysOverdue" type="xsd:int"/>
  <xsd:element name="debitTurnover" type="tns:Amount"/>
  <xsd:element name="creditTurnover" type="tns:Amount"/>
  <xsd:element name="debitEntries" type="xsd:int"/>
  <xsd:element name="creditEntries" type="xsd:int"/>
  <xsd:element name="percentage" type="xsd:decimal"/>
  <xsd:element name="authorizationDetails" type="xsd:string"/>
  <xsd:element name="authorizedSignature" type="xsd:boolean"/>
  <xsd:element name="commitmentReference" type="xsd:string"/>
  <xsd:element name="chargeCode" type="xsd:string"/>
  <xsd:element name="waivedAmount" type="tns:Amount"/>
  <xsd:element name="fundingAccount" type="tns:Account"/>
  <xsd:element name="bankName" type="xsd:string"/>
  <xsd:element name="financialSystem" type="xsd:string"/>
  <xsd:element name="firstName" type="xsd:string"/>
  <xsd:element name="middleName" type="xsd:string"/>
  <xsd:element name="lastName" type="xsd:string"/>
  <xsd:element name="countryPhoneCode" type="xsd:string"/>
  <xsd:element name="branchCode" type="xsd:string"/>
  <xsd:element name="branchName" type="xsd:string"/>
  <xsd:element name="agentIdentifier" type="xsd:string"/>
  <xsd:element name="agentName" type="xsd:string"/>
  <xsd:attribute name="countryCode" type="xsd:string"/>
  <xsd:element name="lastUpdateDate" type="xsd:date"/>
  <xsd:element name="primaryCustomer">
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:minLength value="0"/>
        <xsd:maxLength value="34"/>
        <xsd:pattern value="[0-9]{6,7}"/>
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="jointRelation">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="accountBasicNumber" type="xsd:string"/>
  <xsd:element name="homeOwnership" type="xsd:string"/>
  <xsd:element name="carOwnership" type="xsd:string"/>
  <xsd:element name="department">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute ref="tns:text"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="manager" type="xsd:string"/>
</xsd:schema>