src/main/resources/wsdl/GetBulkPaymentsStatus/GetBulkPaymentsStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.oab.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <xsd:include schemaLocation="GlobalSchema.xsd"/>
  <xsd:element ibmSchExtn:docRoot="true" name="Request">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="oab:Header"/>
        <xsd:element ref="oab:Data"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="Reply">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="oab:Header"/>
        <xsd:element ref="oab:Data"/>
        <xsd:element ref="oab:Fault" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Data">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="oab:GetBulkPaymentsStatus"/>
          <xsd:element ref="oab:BulkPaymentsStatus"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetBulkPaymentsStatus">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:choice>
          <xsd:element ref="oab:externalReference" minOccurs="1"/>
          <xsd:element ref="oab:reference" minOccurs="1"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute ref="oab:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="BulkPaymentsStatus">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="oab:reference"/>
        <xsd:element ref="oab:status"/>
        <xsd:element ref="oab:paymentStatus" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute ref="oab:optionIdentifier"/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>