src/main/resources/wsdl/GetBulkUtilityBillInformation/GetBulkUtilityBillInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<xsd:include
		schemaLocation="GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="oab:GetBulkUtilityBillInformation" />
					<xsd:element ref="oab:BulkUtilityBillInformation" />
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GetBulkUtilityBillInformation">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:externalReference" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:billInformation" minOccurs="1" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="billInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="oab:externalReference"></xsd:element>
				<xsd:element ref="oab:customer"  minOccurs="0"></xsd:element>				
				<xsd:element ref="oab:partnerId"></xsd:element>
				<xsd:element ref="oab:billType"></xsd:element>
				<xsd:element ref="oab:contractNumber" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:accountNumber" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:retrievalKey" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:billNumber" minOccurs="0"></xsd:element>
				<xsd:choice minOccurs="0">
					<xsd:element ref="oab:amount" minOccurs="0"/>
					<xsd:element ref="oab:categoryId" minOccurs="0"/>
				</xsd:choice>
				<xsd:element ref="oab:promotionCode" minOccurs="0"></xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="BulkUtilityBillInformation">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
			  <xsd:element ref="oab:utilityBillInformation" minOccurs="1" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />

		</xsd:complexType>
	</xsd:element>
	<xsd:element name="utilityBillInformation">
	  <xsd:complexType>
	    <xsd:sequence>	       
	       <xsd:element ref="oab:partnerId"></xsd:element>
	       <xsd:element ref="oab:billType"></xsd:element>
	       <xsd:element ref="oab:contractNumber" minOccurs="0"></xsd:element>
		   <xsd:element ref="oab:accountNumber" minOccurs="0"></xsd:element>
		   <xsd:element ref="oab:retrievalKey" minOccurs="0"></xsd:element>		   
		   <xsd:element ref="oab:billDetails" minOccurs="0"></xsd:element>
		   <xsd:element ref="oab:fees" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		   <xsd:element ref="oab:discounts" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		   <xsd:element ref="oab:otherDetails" minOccurs="0"></xsd:element>
		   <xsd:element ref="oab:externalReference"></xsd:element>
		   <xsd:element ref="oab:replyStatus"></xsd:element> 
		   <xsd:element ref="oab:replyFaultCode" minOccurs="0"></xsd:element> 
           <xsd:element ref="oab:replyFaultString" minOccurs="0"></xsd:element>
		   <xsd:element ref="oab:replyFaultNumber" minOccurs="0"></xsd:element> 		   
	    </xsd:sequence>
	  </xsd:complexType>
	</xsd:element>
	<xsd:element name="billDetails">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element minOccurs="0" ref="oab:billNumber"/>
        <xsd:element minOccurs="0" ref="oab:issueDate"/>
        <xsd:element minOccurs="0" ref="oab:dueDate"/>
        <xsd:element minOccurs="0" ref="oab:month"/>
        <xsd:element minOccurs="0" ref="oab:currentAmount"/>
        <xsd:element minOccurs="0" ref="oab:totalAmountDue"/>
		<xsd:element minOccurs="0" ref="oab:lastPaidAmount"/>
        <xsd:element minOccurs="0" ref="oab:minimumAmount"/>
        <xsd:element minOccurs="0" ref="oab:maximumAmount"/>
		<xsd:element minOccurs="0" ref="oab:multipleOfAmount"/>
        <xsd:element minOccurs="0" ref="oab:allowPartialPayment"/>
		<xsd:element minOccurs="0" ref="oab:currency"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  

</xsd:schema>