src/main/resources/wsdl/ListCustomerCards/ListCustomerCards.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<xsd:include
		schemaLocation="GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="oab:ListCustomerCards" />
				<xsd:element ref="oab:CustomerCards" />
			</xsd:choice>
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ListCustomerCards">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:customer" />
				<xsd:element minOccurs="0" ref="oab:cardType" />	
				<xsd:element minOccurs="0" ref="oab:cardStatus" />
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CustomerCards">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oab:cardDetail"/>			
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>