src/main/resources/wsdl/PayBulkUtilityBillPayment/PayBulkUtilityBillPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<xsd:include
		schemaLocation="GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="oab:PayBulkUtilityBillPayment" />
					<xsd:element ref="oab:BulkUtilityBillPayment" />
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PayBulkUtilityBillPayment">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:externalReference" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:payUtilityBill" minOccurs="1"
					maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="payUtilityBill">
		<xsd:complexType>
			<xsd:sequence>
			    <xsd:element ref="oab:externalReference"></xsd:element>
				<xsd:element ref="oab:partnerId"></xsd:element>
				<xsd:element ref="oab:billType"></xsd:element>
				<xsd:element ref="oab:contractNumber" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:accountNumber" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:retrievalKey" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:billNumber" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:paymentMethod"></xsd:element>
				<xsd:element ref="oab:paymentSource"></xsd:element>
				<xsd:element ref="oab:amount"></xsd:element>
				<xsd:element ref="oab:currency"></xsd:element>
				<xsd:element ref="oab:categoryId" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:promotionCode" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:fees" minOccurs="0" maxOccurs="unbounded"></xsd:element>
				<xsd:element ref="oab:discounts" minOccurs="0" maxOccurs="unbounded"></xsd:element>
				<xsd:element ref="oab:chargeAccount" minOccurs="0"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="BulkUtilityBillPayment">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:paidUtilityBill" minOccurs="1"
					maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />

		</xsd:complexType>
	</xsd:element>
	<xsd:element name="paidUtilityBill">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="oab:reference"></xsd:element>
				<xsd:element ref="oab:partnerReference" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:externalReference"></xsd:element>
				<xsd:element ref="oab:otherDetails" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:replyStatus" minOccurs="1"></xsd:element>
				<xsd:element ref="oab:replyFaultCode" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:replyFaultString" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:replyFaultNumber" minOccurs="0"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>