src/main/resources/wsdl/ListCustomerAccounts/ListCustomerAccounts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<xsd:include
		schemaLocation="GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="oab:ListCustomerAccounts" />
				<xsd:element ref="oab:CustomerAccounts" />
			</xsd:choice>
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    
	<xsd:element name="ListCustomerAccounts">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:choice>
					<xsd:element ref="oab:customer"/>
					<xsd:element ref="oab:accountBasicNumber"/>
				</xsd:choice>
				<xsd:element minOccurs="0" ref="oab:currency"/>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CustomerAccounts">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element maxOccurs="unbounded" minOccurs="0" ref="oab:accountSummary"/>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="accountSummary">
    <xsd:complexType>
      <xsd:sequence maxOccurs="1" minOccurs="1">
        <xsd:element ref="oab:account"/>
        <xsd:element ref="oab:shortName"/>
        <xsd:element minOccurs="0" ref="oab:arabicShortName"/>
        <xsd:element minOccurs="0" ref="oab:branch"/>
        <xsd:element ref="oab:accountType"/>
        <xsd:element ref="oab:currency"/>
        <xsd:element minOccurs="1" ref="oab:closed"/>
        <xsd:element minOccurs="1" ref="oab:deceasedOrLiquidation"/>
        <xsd:element minOccurs="1" ref="oab:blocked"/>
        <xsd:element minOccurs="1" ref="oab:inactive"/>
        <xsd:element ref="oab:joint"/>
        <xsd:element minOccurs="0" ref="oab:primaryCustomer"/>
        <xsd:element minOccurs="0" ref="oab:jointRelation"/>
        <xsd:element minOccurs="0" ref="oab:statusBalance"/>
        <xsd:element minOccurs="0" ref="oab:equivalentStatusBalance"/>
        <xsd:element minOccurs="0" ref="oab:ledgerBalance"/>
        <xsd:element minOccurs="0" ref="oab:equivalentLedgerBalance"/>
        <xsd:element minOccurs="0" ref="oab:ledgerBalanceDate"/>
        <xsd:element minOccurs="0" ref="oab:currentAvailableBalance"/>
        <xsd:element minOccurs="0" ref="oab:equivalentCurrentAvailableBalance"/>
        <xsd:element minOccurs="0" ref="oab:iban"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>