src/main/resources/wsdl/balance/GetAccountBalance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:include
            schemaLocation="GlobalSchema.xsd"></xsd:include>
    <xsd:element ibmSchExtn:docRoot="true" name="Request">
        <xsd:complexType>
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element ref="oab:Header" />
                <xsd:element ref="oab:Data" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="Reply">
        <xsd:complexType>
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element ref="oab:Header" />
                <xsd:element ref="oab:Data" />
                <xsd:element ref="oab:Fault" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Data">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice>
                    <xsd:element ref="oab:GetAccountBalance" />
                    <xsd:element ref="oab:AccountBalance" />
                </xsd:choice>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetAccountBalance">
        <xsd:complexType>
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element ref="oab:account" />
                <xsd:element minOccurs="0" ref="oab:currency" />
            </xsd:sequence>
            <xsd:attribute ref="oab:optionIdentifier" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="AccountBalance">
        <xsd:complexType>
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element minOccurs="0" ref="oab:currency"/>
                <xsd:element minOccurs="0" ref="oab:equivalentCurrency"/>
                <xsd:element minOccurs="0" ref="oab:statusBalance"/>
                <xsd:element minOccurs="0" ref="oab:equivalentStatusBalance"/>
                <xsd:element minOccurs="0" ref="oab:ledgerBalance"/>
                <xsd:element minOccurs="0" ref="oab:equivalentLedgerBalance"/>
                <xsd:element minOccurs="0" ref="oab:ledgerBalanceDate"/>
                <xsd:element minOccurs="0" ref="oab:currentAvailableBalance"/>
                <xsd:element minOccurs="0" ref="oab:equivalentCurrentAvailableBalance"/>
                <xsd:element minOccurs="0" ref="oab:previousAvailableBalance"/>
                <xsd:element minOccurs="0" ref="oab:equivalentPreviousAvailableBalance"/>
                <xsd:element minOccurs="0" ref="oab:overdraftLimit"/>
                <xsd:element minOccurs="0" ref="oab:equivalentOverdraftLimit"/>
                <xsd:element minOccurs="0" ref="oab:overdraftLimitExpiryDate"/>
                <xsd:element minOccurs="0" ref="oab:reservedBalance"/>
                <xsd:element minOccurs="0" ref="oab:equivalentReservedBalance"/>
                <xsd:element minOccurs="0" ref="oab:currentClearedBalance"/>
                <xsd:element minOccurs="0" ref="oab:equivalentCurrentClearedBalance"/>
                <xsd:element minOccurs="0" ref="oab:clearingToday"/>
                <xsd:element minOccurs="0" ref="oab:equivalentClearingToday"/>
                <xsd:element minOccurs="0" ref="oab:clearingTomorrow"/>
                <xsd:element minOccurs="0" ref="oab:equivalentClearingTomorrow"/>
                <xsd:element minOccurs="0" ref="oab:clearingAfterTomorrow"/>
                <xsd:element minOccurs="0" ref="oab:equivalentClearingAfterTomorrow"/>
                <xsd:element minOccurs="0" ref="oab:shadowDebit"/>
                <xsd:element minOccurs="0" ref="oab:equivalentShadowDebit"/>
                <xsd:element minOccurs="0" ref="oab:shadowCredit"/>
                <xsd:element minOccurs="0" ref="oab:equivalentShadowCredit"/>
                <xsd:element minOccurs="0" ref="oab:shadowAdjustments"/>
                <xsd:element minOccurs="0" ref="oab:equivalentShadowAdjustments"/>
            </xsd:sequence>
            <xsd:attribute ref="oab:optionIdentifier" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>