src/main/resources/wsdl/GetUtilityBillTransaction/GetUtilityBillTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<xsd:include
		schemaLocation="GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element ref="oab:GetUtilityBillTransaction" />
				    <xsd:element ref="oab:UtilityBillTransaction" />
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GetUtilityBillTransaction">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:choice>
					<xsd:element ref="oab:externalReference"></xsd:element>
					<xsd:element ref="oab:reference"></xsd:element>
				</xsd:choice>			
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UtilityBillTransaction">
		<xsd:complexType>
			<xsd:sequence>			   
				<xsd:element ref="oab:processReference" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:reference" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:partnerReference" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:partnerId"></xsd:element>
				<xsd:element ref="oab:billType"></xsd:element>
				<xsd:element ref="oab:retrievalKey" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:paymentMethod" minOccurs="0"></xsd:element>
				<xsd:element ref="oab:account"></xsd:element>
				<xsd:element ref="oab:amount"></xsd:element>								
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>