src/main/resources/wsdl/account/GetAccountInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oab.com" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:oab="http://www.oab.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	
	<xsd:include
		schemaLocation="../balance/GlobalSchema.xsd"></xsd:include>
	<xsd:element ibmSchExtn:docRoot="true" name="Request">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="Reply">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:Header" />
				<xsd:element ref="oab:Data" />
				<xsd:element ref="oab:Fault" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Data">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="oab:GetAccountInformation" />
				<xsd:element ref="oab:AccountInformation" />
			</xsd:choice>
				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GetAccountInformation">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:account" />				
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AccountInformation">
		<xsd:complexType>
			<xsd:sequence maxOccurs="1" minOccurs="1">
				<xsd:element ref="oab:shortName"/>
				<xsd:element minOccurs="0" ref="oab:arabicShortName"/>
				<xsd:element minOccurs="0" ref="oab:branch"/>
				<xsd:element minOccurs="0" ref="oab:iban"/>
				<xsd:element ref="oab:customer"/>
				<xsd:element ref="oab:accountType"/>
				<xsd:element minOccurs="0" ref="oab:language"/>
				<xsd:element ref="oab:currency"/>
				<xsd:element ref="oab:closed"/>
				<xsd:element ref="oab:deceasedOrLiquidation"/>
				<xsd:element ref="oab:blocked"/>
				<xsd:element ref="oab:inactive"/>
				<xsd:element ref="oab:internalAccount"/>
				<xsd:element ref="oab:jointAccount"/>
				<xsd:element minOccurs="0" ref="oab:residenceCountry"/>
				<xsd:element minOccurs="0" ref="oab:parentCountry"/>
				<xsd:element minOccurs="0" ref="oab:riskCountry"/>
				<xsd:element minOccurs="0" ref="oab:internalRiskCountry"/>
				<xsd:element minOccurs="0" ref="oab:statementFrequency"/>
				<xsd:element minOccurs="0" ref="oab:lastStatementNumber"/>
				<xsd:element minOccurs="0" ref="oab:lastStatementDate"/>
				<xsd:element minOccurs="0" ref="oab:nextStatementDate"/>
				<xsd:element minOccurs="0" ref="oab:previousStatementBalance"/>
				<xsd:element minOccurs="0" ref="oab:lastEntryDate"/>
				<xsd:element minOccurs="0" ref="oab:accountOpenDate"/>
				<xsd:element minOccurs="0" ref="oab:accountClosedDate"/>
				<xsd:element minOccurs="0" ref="oab:otherDetails"/>
			</xsd:sequence>
			<xsd:attribute ref="oab:optionIdentifier" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>